{% extends 'base.html' %}

{% load static %}
{% block content %}
  



    <section class="section donate" id="donate">
     <div class="shadow"></div>
     <div class="downshadow"></div>
      <div class="values-content">
        <div class="values-heading">
          <h1 class="get-h1">DONATE<svg width="145" height="28" viewBox="0 0 145 28" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M117.381 23.2251C95.2569 12.1268 43.0058 -6.09566 10.9915 9.80141C-29.0264 29.6728 114.647 25.1252 141 14.3439" stroke="#8A38F5" stroke-width="7" stroke-linecap="round"/>
</svg>

</h1>

      </div>
      <p class="values-para">
      Every contribution, no matter the size, helps us touch lives in meaningful ways. Your donations provide essentials like school supplies, access to education, healthcare support, mentorship programs, and safe spaces for children to grow. A one-time gift is a great way to start making a difference, while recurring support allows us to plan ahead and ensure sustainable impact year after year. Your generosity fuels hope and gives children the resources they need to build a brighter tomorrow.
      </p>

    </div>

    <div class="wire">
      <h3 class="wire-h3">Wire tranfers</h3>
      <div class="wire-content">
<div class="bank">
  <p>BANK</p><br>
  <p>ZENITH BANK</p>
  <p>GT BANK</p>
</div>

<div class="account">
  <p>ACCOUNT NUMBER</p><br>

  <div class="account-numbers">
    <p id="number1">000000000 &nbsp;<i class='bx  bx-copy' onclick="copyNumber('number1', 'message1')" ></i> </p><p id="message1" class="message">Account number copied!</p>
  </div>
<div class="account-numbers">
  <p id="number2">000000000 &nbsp;<i class='bx  bx-copy' onclick="copyNumber('number2', 'message2')" ></i> </p><p id="message2" class="message">Account number copied!</p>
</div>

</div>
      </div>
       
     
    </div>
  
    </section>



    <section class="section donate" id="volunteer">
      <div class="values-content">
        <div class="values-heading">
          <h1 class="get-h1">VOLUNTEER<svg width="115" height="28" viewBox="0 0 115 28" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M4 20.5318C8.98356 12.3331 21.2373 -2.07308 30.3836 5.89132C41.8164 15.8468 42.4027 26.9735 52.663 22.5814C62.9233 18.1893 62.9233 -0.55042 77.874 5.89132C92.8247 12.3331 101.619 25.5095 111 18.4821" stroke="#8A38F5" stroke-width="7" stroke-linecap="round"/>
</svg>


</h1>

      </div>
      <p class="values-para">
    Your time, skills, and presence can create ripples of change that money alone cannot. By volunteering with us, you become a mentor, a guide, and a source of encouragement to children who need it most. Whether it’s sharing knowledge, helping organize events, lending expertise, or simply showing up to inspire, your involvement brings our mission to life. Volunteering isn’t just about giving — it’s about growing together, building relationships, and leaving lasting imprints of hope in young hearts.
      </p>

    </div>
  
    </section>
    

    <section class="section donate" >
     <div class="shadow"></div>
     <div class="downshadow"></div>
      <div class="values-content">
        <div class="values-heading">
          <h1 class="get-h1">DONATE<svg width="145" height="28" viewBox="0 0 145 28" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M117.381 23.2251C95.2569 12.1268 43.0058 -6.09566 10.9915 9.80141C-29.0264 29.6728 114.647 25.1252 141 14.3439" stroke="#8A38F5" stroke-width="7" stroke-linecap="round"/>
</svg>

</h1>

      </div>
      <p class="values-para">
      When organizations, businesses, schools, and individuals come together with a shared vision, the impact multiplies. Through partnerships, we expand our reach, strengthen communities, and create greater opportunities for children. Working hand-in-hand with Chresthos Foundation means investing in empowerment, transformation, and long-term change. Together, we can achieve far more than we ever could alone, ensuring that children everywhere are given the tools to thrive.
      </p>

    </div>
  
    </section>


        <section class="section donate" id="partner">
      <div class="values-content">
        <div class="values-heading">
          <h1 class="get-h1">YOUR ROLE IN THE MOVEMENT<svg style="top: 40%;" width="115" height="30" viewBox="0 0 115 28" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M4 20.5318C8.98356 12.3331 21.2373 -2.07308 30.3836 5.89132C41.8164 15.8468 42.4027 26.9735 52.663 22.5814C62.9233 18.1893 62.9233 -0.55042 77.874 5.89132C92.8247 12.3331 101.619 25.5095 111 18.4821" stroke="#8A38F5" stroke-width="7" stroke-linecap="round"/>
</svg>


</h1>

      </div>
      <p class="values-para">
  Getting involved with Chresthos Foundation is more than an act of charity — it’s a commitment to changing lives and building a better future. Whether you choose to donate, volunteer, or partner with us, your support helps children discover their potential and rewrite their stories. Together, we can give hope, create opportunities, and empower the next generation to rise above limitations and step into brighter possibilities.
      </p>

    </div>
  
    </section>

{% endblock content %}